<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/SYAvdeev/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="SYAvdeev" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>