.red-blue {
    color: red;
    background-color: lightblue;
}

.green-yellow {
    color: green;
    background-color: lightgoldenrodyellow;
}

.black-white {
    color: black;
    background-color: white;
}